.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  transition: transform 0.3s ease;
}
.featureSvg:hover {
  transform: scale(1.25);
}
.featureSvg:hover path {
  fill: var(--ifm-color-primary);
  transition: fill 0.3s ease;
}

.featureTitleLink,
.featureTitleLink:visited {
  text-decoration: none;
  color: var(--ifm-font-color-base);
  display: inline-block;
}

.featureTitle {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.featureTitleLink:hover .featureTitle {
  transform: scale(1.15);
  color: var(--ifm-color-primary);
}
